[core]
	autocrlf = false
	excludesfile = /Users/skhaz/.gitignore
[user]
	name = Rodrigo Delduca
	email = rodrigo@delduca.org 
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/
[submodule]
	recurse = true
[safe]
	directory = /workspace
