[user]
	name = Rodrigo Delduca
	email = rodrigo@delduca.org
[push]
	autoSetupRemote = true
[core]
	pager = less -FRX
	excludesfile = /Users/me/.gitignore
[url "git@git.spiralscout.com:"]
	insteadOf = https://git.spiralscout.com/
